<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <title>Franciscoelias Portafolio Website</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!--  font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- static/css/main1.css -->
    <link rel="stylesheet" href="static/css/main.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="static/img/devjane.png" alt="">
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link">Home</a> </li>
                <li class="nav__item"><a href="#services" class="nav__link">My Services</a> </li>
                <li class="nav__item"><a href="#about" class="nav__link">About me</a> </li>
                <li class="nav__item"><a href="#work" class="nav__link">My Works</a> </li>
            </ul>
        </nav>

    </header>
    <!-- Introduction -->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro" >
            Hi, I am <strong>Cisco</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">full-stack dev</p>
        <img class="intro__img" src="static/img/IMG_20190415_184844.jpg" alt="pic smiling" >
    </section>

    <!-- My Services -->
    <section class="my-services" id="services">
        <h2 class="section__title section__title--services">What I do</h2>
        <div class="services">
            <div class="service">
                <h3>Back End</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div> <!-- / service -->

            <div class="service">
                <h3>Websites</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div> <!-- / service -->

            <div class="service">
                <h3>Software Developement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div> <!-- / service -->
        </div> <!-- / services -->

        <a href="#work" class="btn">My Work</a>

    </section>

    <!-- About me -->
    <section class="about-me" id="about">
        <h2 class="section__title section__title--about">Who I am</h2>
        <p class="section__subtitle section__subtitle--about">My name is Franciscoelias, but everyone calls me Cisco.</p>
        <div class="about-me__body">
           <p> I entered the world
        of coding 2021 with a online Udemy course "Python Bootcamp". Since then,I have become familiar with programs
         such as Tkinter, Flask, Turtle, GitHub, Bootstrap, CSS, HTML, SQLite. I have created some
         <a href="{{url_for('projects')}}">projects</a> through my course, as well as individual projects that I have displayed
          on <a href="https://github.com/CiscoMerchan">GitHub</a>. I have also joined a Meetup group called Python Beginners ,where I have done a
          presentation online (<a href="https://www.youtube.com/watch?v=eY7pSCeF_Rg&t=13s">YouTube</a>)of a step-by-step on how to create a log-in form using Flask and
          FLaskForm for beginners.</p>
<!--          <br>-->
        <p>Coding is a fascinating domain for me, that I wish I found sooner. Being fluent in English,
        Spanish and French (and conversational in others), I can't help but draw similarities between coding and learning a
        language, something I really enjoy. There is always something new to learn, and constant problem-solving are other
        aspects of coding that really appeal to me #####(just to name a few.</p>
<!--        <br>-->
        <p>My previous work experience as a Scuba Diving Instructor, and a manager in hospitality have
        required of me a high level of dedication and self-motivation, professional work etiquette, ability to work under
        pressure and meet deadlines and a high level of communication skill with people from all works of life. </p>
<!--        <br>-->
        <p>In my spare time you can find me sailing, or scuba diving, reading about history, and of
        course with my family. </p>
<!--        <br>-->
        <p>For more detail about my work experience, projects and skills, please follow the link to my
        check my  <a href="{{url_for('projects')}}">projects</a> and <a href="{{url_for('resume')}}">resume</a>. </p>
        </div>
        
        <img src="static/img/IMG20220904140410.jpg" alt="in the bus" class="about-me__img">
    </section>

    <!-- My Work -->
    <section class="my-work" id="work">
        <h2 class="section__title">My Work</h2>
        <p class="section__subtitle--work">A selection of my range of work</p>

        <div class="portfolio">
                <!-- portfolio item -->
            <a href="https://www.w3schools.com/tags/tag_dialog.asp" class="portfolio__item">
                <img src="static/imstatic/img_project/coffeewifi1.png" alt="website1" class="portfolio__img">
            </a>
                 <!-- portfolio item -->
            <a href="https://www.w3schools.com/tags/tag_dialog.asp" class="portfolio__item">
                <img src="static/img_project/Pomodoro.png" alt="website1" class="portfolio__img">
            </a>
                 <!-- portfolio item -->
            <a href="https://www.w3schools.com/tags/tag_dialog.asp" class="portfolio__item">
                <img src="static/img/about-bg.jpg" alt="website1" class="portfolio__img">
            </a>
                 <!-- portfolio item -->
            <a href="https://www.w3schools.com/tags/tag_dialog.asp" class="portfolio__item">
                <img src="static/img_project/coffeewifi1.png" alt="website1" class="portfolio__img">
            </a>
                 <!-- portfolio item -->
            <a href="https://www.w3schools.com/tags/tag_dialog.asp" class="portfolio__item">
                <img src="static/img/portfolio-07.jpg" alt="website1" class="portfolio__img">
            </a>
                 <!-- portfolio item -->
            <a href="https://www.w3schools.com/tags/tag_dialog.asp" class="portfolio__item">
                <img src="static/img/portfolio-08.jpg" alt="website1" class="portfolio__img">
            </a>
        </div>

    </section>

    <!-- Footer -->
    <footer class="footer">
        <a href="mailto:hello@cisco.dev" class="footer__link">hello@cisco.dev</a>
        <ul class="social-list">
            <li class="social-list__item"><a class="social-list__link" href="https://github.com/CiscoMerchan"><i class="fa-brands fa-github"></i></a></li>
             <li class="social-list__item"><a class="social-list__link"><i class="fa-brands fa-twitter"></i></a></li>
             <li class="social-list__item"><a class="social-list__link"><i class="fa-brands fa-discord"></i></a></li>
             <li class="social-list__item"><a class="social-list__link"><i class="fa-brands fa-slack"></i></a></li>
        </ul>

    </footer>
    <!-- <script> With JS (index.js)will be activate the toggle for the  navbar and hamburger. Using jinja   -->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>