{% extends 'base.html' %}
{%block title%}Ciscodev Project {% endblock %}

{% block content %}

 <!-- My Work -->
 <section class="my-work" id="work">
        <h2 class="section__title">My Work</h2>
        <p class="section__subtitle--work">A selection of my range of work</p>

        <div class="portfolio col-md-8 col-center m-auto">
                <!-- portfolio item -->
            <div class="project">
                <p class="project-title"><u>Web app with Flask & FlaskForm</u></p>
                <a href="https://github.com/CiscoMerchan/WebApp_with_FlaskForm" target="_blank" class="portfolio__item">
                <img src="static/img_project/Web_forms_with_python_and_flask - meetup160 - YouTube-.png" alt="Web app with Flask & FlaskForm" class="portfolio__img" width="250" height="250">
                </a>
                <p class="project-description">This is a presentation that I made in Youtube for a meetup group call Python's
                    Beginners, here I show, how to build a web app with a log-in form using Flask and
                    FlaskForm.<br>(Web app build with Flask)</p>
            </div>
                    <!-- portfolio item -->
            <div class="project">
                <p class="project-title"><u>Portfolio</u></p>
                <a href="{{url_for('home')}}" target="_blank" class="portfolio__item">
                <img src="static/img_project/Ciscodev.png" alt="MYPortfalio" class="portfolio__img" width="250" height="250">
                </a>
                <p class="project-description">This my own Portfolio.(Web app build with Flask)</p>
            </div>
                 <!-- portfolio item -->
            <div class="project">
                <p class="project-title"><u>coffee & wifi</u></p>
                <a href="https://github.com/CiscoMerchan/COFFEE_WIFI" target="_blank" class="portfolio__item">
                <img src="static/img_project/coffeewifi1.png" alt="coffeewifi_webapp" class="portfolio__img" width="250" height="250">
                </a>
                <p class="project-description">Checkout my collection of cafes in Maroochydore with data on power socket availability, wifi speed and coffee quality.<br>(Web app build with Flask)</p>
            </div>
                 <!-- portfolio item -->
            <div class="project">
                <p class="project-title"><u>Pomodoro Timer</u></p>
                <a href="https://github.com/CiscoMerchan/Pomodoro" target="_blank" class="portfolio__item">
                <img src="static/img_project/Pomodoro.png" alt="Pomodoro_img" class="portfolio__img" width="250" height="250">
                </a>
                <p class="project-description">Time management system that encourages people to work.<br>(Desktop app build with Tkinter)</p>
            </div>
               <!-- portfolio item -->
            <div class="project">
                <p class="project-title"><u>Barcode App</u></p>
                <a href="https://github.com/CiscoMerchan/Desktop_app_to_track_items_with_barcode0.1" target="_blank" class="portfolio__item">
                <img src="static/img_project/barcode_app.png" alt="Barcode screenshot" class="portfolio__img" width="250" height="250">
                </a>
                <p class="project-description">BARCODE app to create, read/register and search barcodes, this a personal project .<br>(Desktop app build with Tkinter)</p>
            </div>
                 <!-- portfolio item -->
<!--           <div class="project">-->
<!--                <p class="project-title"><u>Pomodoro Timer</u></p>-->
<!--                <a href="https://www.w3schools.com/tags/tag_dialog.asp" target="_blank" class="portfolio__item">-->
<!--                <img src="static/img_project/Pomodoro.png" alt="coffeewifi_webapp" class="portfolio__img" width="250" height="250">-->
<!--                </a>-->
<!--                <p class="project-description">Time management system that encourages people to work.<br>(Desktop app build with Tkinter)</p>-->
<!--           </div>-->
                 <!-- portfolio item -->
<!--           <div class="project">-->
<!--                <p class="project-title"><u>Pomodoro Timer</u></p>-->
<!--                <a href="https://www.w3schools.com/tags/tag_dialog.asp" target="_blank" class="portfolio__item">-->
<!--                <img src="static/img_project/Pomodoro.png" alt="coffeewifi_webapp" class="portfolio__img" width="250" height="250">-->
<!--                </a>-->
<!--                <p class="project-description">Time management system that encourages people to work.<br>(Desktop app build with Tkinter)</p>-->
<!--           </div>-->
        </div>
 </section>


{% endblock %}

{%block footer%}
<div class="footer">
<h6 class="h6footer">&copy;Copyright 2022. Built by Ciscodev at Maroochydore, QLD.</h6>
</div>
{% endblock %}

